a {
    text-decoration: none;
    margin-right: 10px;
}

input {
    border: 1.5px solid black;
    height: 40px;
    width: 300px;
    outline: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1.5px solid rgb(174, 156, 156);
}

.nav-titles a {
    margin-right: 50px;
}


.navbar-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.image-container {
    height: 40px;
    width: 40px;
    
}

.image-container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}